# Node / Expo
node_modules/
.expo/
dist/
web-build/
*.orig.*

# PHP / Laravel
vendor/
backend/storage/*.key
backend/.env
.phpunit.result.cache
backend/.env.docker
backend.env.production
# General
.DS_Store
*.log

